[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://nexus.samokat.io/repository/nexus-pypi-proxy/simple"
verify_ssl = true
name = "samokat"

[packages]
flask = "*"
requests = "*"
ipdb = "*"
waitress = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
init = "pipenv install --dev"
start = "python app.py"
lint = "black . -l 120 --check --diff"
format = "black . -l 120"
type = "mypy ."
