[[source]]
url = "https://nexus.samokat.io/repository/nexus-pypi-proxy/simple"
verify_ssl = true
name = "samokat"

[packages]
flask = "~=3.0"
requests = "*"
ipdb = "*"
waitress = "*"
gunicorn = "*"
python-dotenv = "*"
asyncio = "~=3.4"
uvicorn = "~=0.29"
asgiref = "~=3.8"
dacite = "~=1.8"
python-telegram-bot = {extras = ["job-queue"], version = "~=21.0"}

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
init = "pipenv install --dev"
start = "python app.py"
lint = "black . -l 120 --check --diff"
format = "black . -l 120"
type = "mypy ."
